<div class="container">
  <div class="jumbotron text-center mt-4 jumbo-color mb-1">
    <span id="crs_id" style="display: none;"><%=course._id%></span>
    <h1 class="display-4 text-white" style="font-size: 36px; font-weight: 600;"><%=course.course_name%></h1>
    <p class="lead text-white">Free Certification Course of Blockchain Technology</p>
    <h3 class="text-white" style="font-size: 18px;">Created By : <%=course.instructor.name%></h3>
    <h3 style="font-size: 18px;color:yellow;">Course Duration : <%=course.course_duration%></h3>
    <h1 style="color:yellow;">
      <% if (course.is_free) { %>
      FREE
      <% } else { %>
      PAID
      <% } %>
    </h1>
    <p class="text-white">209 Ratings | 1014 Enrollments</p>
    <button id="enrl-btn" data-toggle="modal" data-target="#enrollModal">Enroll Now</button>
  </div>  
</div>