<div class="row mt-4" style="padding: 5% 5% 5% 10%;background-color: #426db7">
    <div class="col-md-6">
      <h3 class="wht">Eckovation App</h3>
      <p class="wht">Download India's #1 Social Learning App</p>
      <div class="row">
        <div class="col-md-6 col-sm-6">
            <a href="https://itunes.apple.com/in/app/eckovation-connect-learn/id1067181761" target="_blank">
              <img src="https://cdn.eckovation.com/courses/images/App_Store_Badge_US-UK_135x40.svg" style="width: 70%;">
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="https://play.google.com/store/apps/details?id=com.eckovation&amp;hl=en" target="_blank">
              <img src="https://assets.eckovation.com/courses/images/google-play-badge-2.svg" style="width: 70%;">
            </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div style="padding: 5% 0% 0% 28%;">
        <img src="https://cdn.eckovation.com/courses/images/phone.svg" class="img-responsive" style="width: 180px;">
      </div>
    </div>
  </div>
  <div class="row" style="padding: 5% 5% 5% 0%;background-color: #2e4364;position: relative;
  top: -68px;">
    <div class="col-md-6 col-xs-12">
      <ul style="white-space: nowrap;padding: 25px;">
        <li class="li-nav wht">Home</li>
        <li class="li-nav wht">About Us</li>
        <li class="li-nav wht">Contact Us</li>
        <li class="li-nav wht">Groups</li>
      </ul>
    </div>
  </div>