<div class="row text-center" style="align-items: center;padding: 4% 10%;" id="curr">
  <div class="col-md-12">
    <div class="desc-content bxshad">
      <h2 style="color: #426db7;margin-top: -4%;padding-top: 4%;">Curriculum</h2>
      <% for(var i = 0; i < course.curriculum.length; i ++) { %>
      <div class="col-md-12" style="padding-bottom: 5px;">
        <div class="card mb-4">
          <div class="card-header">
            <h6 class="text-secondary" data-toggle="collapse" data-target="#<%=course.curriculum[i]._id%>" aria-expanded="false" aria-controls="short-offer-section">
              <%=course.curriculum[i].sub_heading%>
            </h6>
          </div>
          <div id="<%=course.curriculum[i]._id%>" class="collapse">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center text-secondary font-weight-bold">
                    <%=course.curriculum[i].content%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  </div>
</div>