<div class="row text-center" style="align-items: center;padding: 4% 10%;">
    <div class="col-md-12">
      <div class="navigation d-none d-sm-none d-md-block ">
        <ul style="white-space: nowrap;padding: 25px;">
          <li class="li-nav"><a href="#desc" class="text-white">Description</a></li>
          <li class="li-nav"><a href="#curr" class="text-white">Curriculum</a></li>
          <li class="li-nav"><a href="#ins" class="text-white">Instructors</a></li>
          <li class="li-nav"><a href="#" class="text-white">FAQ</a></li>
        </ul>
      </div>
      <div class="desc-content bxshad" id="desc">
        <h2 style="color: #426db7;margin-top: -4%;padding-top: 6%;">Description</h2>
        <div style="text-align: left;padding: 2%;">
        <p>
        The course of Introduction to Blockchain Technology is a free online certification course. The important elements of the course are 
        </p>
        <p>
          Concept Videos 
          Quizzes 
          Certification  
          The topics covered in the Introduction to Blockchain Technology are: 
        </p>
        <p>
            a. Problems with existing banking system 
            
            b. What is Blockchain Technology? 
            
            c. Benefits 
            
            d. Applications 
            
            e. Cryptocurrency
        </p>   
        <p>
          Enroll today into the Full Blockchain and Cryptocurrency Course
        </p>
        </div>
      </div>
    </div>
  </div>