<div class="container bxshad" style="max-width: 80%; border-radius: 2%;">
  <div class="row" style="background-color: #fff;padding: 30px;">
    <div class="col-md-4 col-xs-12 col-sm-12">
      <div>
        <h2>Includes</h2>
        <ul style="list-style: none;padding-left: 0px;">
          <% for(var i = 0; i < course.includes.length; i++) { %>
          <li><i class="fas fa-check fa-pad"></i><%= course.includes[i]%></li>
          <% } %>
        </ul>
      </div>
      <div class="h-row d-none d-sm-none d-md-block"></div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12" style="padding-left: 4%;">
      <h2>What will you learn?</h2>
      <ul style="padding-left: 4%;">
        <% for(var i = 0; i < course.learnings.length; i++) { %>
          <li><%= course.learnings[i]%></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>