<div class="row text-center" style="align-items: center;padding: 4% 10%;" id="ins">
  <div class="col-md-12">
    <div class="desc-content bxshad">
      <h2 style="color: #426db7;margin-top: -4%;padding-top: 4%;">About Instructors</h2>
      <div class="row" style="padding: 3% 5% 5% 0%;">
      <div class="col-md-1 col-sm-4 col-xs-3" style="left: 5%;">
        <img class="img-circle" src="/required/images/pp.svg" alt="profile-picture">
      </div>
      <div class="col-md-11 col-sm-8 col-xs-9" style="left: 5%;text-align: left;">
        <h3 style="color: #426db7"><%= course.instructor.name%></h3>
        <h5 class="text-secondary"><%= course.instructor.desc%></h >
      </div>
    </div>
    </div>
  </div>
</div>