<div class="modal fade bd-example-modal-lg" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="row">
          <h3 class="mb-4 blu" style="margin: 0 auto;">Enter Details</h3>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control br20" style="margin: 0 auto; width: 50%;" id="input_name" aria-describedby="nameHelp" placeholder="Name" required>
              <small id="error_name" class="form-text text-muted" style="display: none;"></small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="email" class="form-control br20" style="margin: 0 auto; width: 50%;" id="input_email" aria-describedby="emailHelp" placeholder="Email Id" required>
              <small id="error_email" class="form-text text-muted" style="display: none;"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>