<div class="recco text-center">
  <h2 class="mt-4 blu">Recommended Courses</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card bxshad" >
        <img class="card-img-top" src="/required/images/iot.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Internet of Things</h5>
          <a href="#" class="btn btn-primary br20">View Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bxshad" >
        <img class="card-img-top" src="/required/images/fstack.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Full Stack Online</h5>
          <a href="#" class="btn btn-primary br20">View Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bxshad" >
        <img class="card-img-top" src="/required/images/ml.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Machine Learning Online Study Today</h5>
          <a href="#" class="btn btn-primary br20">View Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bxshad" >
        <img class="card-img-top" src="/required/images/bc.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Block Chain Online</h5>
          <a href="#" class="btn btn-primary br20">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>