<div class="sticky-footer">
  <button class="btn wht" style="background-color: #5386c5;"><i class="fas fa-phone-volume"></i> Call us : 9266677335</button>
  or
  <button class="btn btn-outline-secondary"><i class="fas fa-phone-square"></i> Request a Callback </button>
</div>