<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Learning</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://d3qzzq2f2fvygz.cloudfront.net/images/favicon.png">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link href="/required/css/style.css"  rel="stylesheet" >
</head>
<body style="background-color: #eee;">
  <%- include ../partials/navbar %>
  <div class="row mt-3">
    <% courses.forEach(function(course) { %>
    <div class="col-md-3 col-sm-6 col-xs-1 p2">
      <div class="card bxshad">
        <img class="card-img-top" src="<%= course.img_url%>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= course.course_name%></h5>
          <a href="/course/<%=course._id%>" class="btn btn-primary br20">View Details</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <%- include ../partials/stickyfooter %>
</body>
</html>