@media (min-width: 576px) {
  .container {
      max-width: 750px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
} 
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

#enrl-btn {
  border-radius: 25px;
  padding: 6px 40px;
  font-size: 24px;
  color: #fff;
  box-shadow: 0 3px 10px 2px rgba(0,0,0,.2);
  background-color: #f5576c;
}

.text-white {
  color: #fff;
}

.jumbo-color {
  background: linear-gradient(rgba(0, 91, 234, 0.8) 50%, rgba(0, 198, 251, 0.5) 100%),  no-repeat;
}

.fa-pad {
  padding: 0 10px;
}

.h-row {
  border-right: 2px solid #d6d6d6;
  position: absolute;
  top: 4%;
  bottom: 5%;
  right: 0;
}

.li-nav {
  display: inline;
  padding: 8%;
}

.navigation {
  background-color: #426db7;
  width: 80%;
  text-align: center;
  border-radius: 40px;
  position: relative;
  left: 10%;
}

.desc-content {
  background-color: #fff;
}

.img-circle {
  border-radius: 50%;
}

.recco {
  background-color: #fff;
  padding: 20px;
  margin: 0 10% 0 10%;
  color: #828282;
  border-radius: 4px;
  box-shadow: 0 0 1px 2px #e4e2e2;
}

.blu {
  color: #426db7;
}

.wht {
  color: #fff;
}

.br20 {
  border-radius: 20px;
}

.bxshad {
  box-shadow: 10px 17.3px 50px 0 rgba(0,0,0,.2);
}

.p2 {
  padding: 2%;
}

.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 1%;
}